.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.Popup {
  width: 200px;
  height: 70px;
  background: #212121;
  border-radius: 10px;
  padding: 10px;
}

.Popup__title {
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.Popup__content {
  padding-top: 5px;
  color: #fff;
}

.Globe {
  z-index: 1;
  height: 100vh;
}

.Slider {
  position: fixed;
  z-index: 3;
  bottom: 10%;
  display: flex;
}

.SliderLeft {
  display: inline-block;
  width: 87%;
}

.SliderRight {
  display: inline-block;
  margin: auto;
  margin-top: 3px;
}

.toggle {
  bottom: 3%;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Verdana", sans-serif;
}

.statsOverview {
  position: fixed;
  font-weight: 600;
  z-index: 1;
  top: 5%;
  font-size: 15px;
  color: white;
  font-family: "Verdana", sans-serif;
}

.Wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

div .scene-tooltip {
  background: rgba(209, 13, 13, 0.8);
  font-size: 15px;
  color: white;
  font-family: "Verdana", sans-serif;
}


.flags {
  width: 40px;
  position: fixed;
  top: 3%;
  right: 1%;
  z-index: 1;
}

.flagEmoji{
  font-size: 35px;
}