.App {
  font-family: sans-serif;
  text-align: center;
}
html {
  background-color: black;
  margin: -8px;
}
* {
  box-sizing: border-box;
}
.Popup {
  width: 200px;
  height: 70px;
  background: #212121;
  border-radius: 10px;
  padding: 10px;
}

.Popup__title {
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.Popup__content {
  padding-top: 5px;
  color: #fff;
}

.Globe {
  z-index: 1;
  /* height: 100vh; */
}

.Slider {
  position: fixed;
  z-index: 3;
  bottom: 6%;
  display: flex;
}

.SliderLeft {
  display: inline-block;
  width: 87%;
}

.SliderRight {
  display: inline-block;
  margin: auto;
  margin-top: 3px;
}

.dateLabel {
  position: fixed;
  z-index: 1;
  bottom: 0%;
  font-size: 18px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.1);
  /* background: padding-box; */
  padding: 5px;
  border-radius: 10px;
  background-clip: border-box;
  letter-spacing: 0.8px;
}

.toggle {
  bottom: 3%;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

.statsOverview {
  position: fixed;
  z-index: 4;
  top: 2%;
  font-size: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.1);
  /* background: padding-box; */
  padding: 10px;
  border-radius: 10px;
  background-clip: border-box;
  letter-spacing: 0.8px;
}

.boldStats {
  font-weight: bold;
  text-align: center;
}

.Wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

div .scene-tooltip {
  color: white;
  font-family: 'Raleway', sans-serif;
  backdrop-filter: blur(5px);
  border-radius: 3px;
  background-clip: border-box;
  letter-spacing: 0.4px;
}

.toolTip {
  padding: 10px !important;
  font-weight: 400;
  font-size: 15px;
  border-radius: 10px;
}

.toolTip > i {
  font-weight: 100 !important;
}

.toolTip > b {
  font-weight: 600 ;
  font-style: normal;
  letter-spacing: 0.5px;
  font-size: 17px;
}

.languageControl {
  /* width: 120px; */
  width:100%;
  /* position: fixed; */
  top: 3%;
  right: 1%;
  z-index: 4;
}

.navBarChevron {
  display: flex;
  justify-content: right;
  padding-right: 1%;
  color: white;
}

.NavBar-Main {
  top: 5%;
  left: 2%;
  display: flex;
  position: fixed;
  z-index: 5;
}

.saveButton {
  display: flex;
  justify-content: center;
}

.infoBarRight {
  width:50%;
  height: 82%;
  position: fixed;
  z-index: 3;
  right: 0.5%;
  top: 6%;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  overflow-y: scroll;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 200;
  scrollbar-width: none;  /* Firefox */
}

div .MuiBox-root {
  color: white;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-align: "center";
}

.graphBox {
  width : 100%;
  height: 33%;
  display: inline-block;
  padding: 100px;
}


.infoBarLeft {
  width:40%;
  height: 85%;
  position: fixed;
  z-index: 3;
  left: 2%;
  top: 10%;
  bottom: 10%;
  display: flex;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;  /* Firefox */
}


/* .infoBarRight::-webkit-scrollbar {
  display: none;
}

.infoBarLeft::-webkit-scrollbar {
  display: none;
} */

.graph {
  width: 100px;
  height: 50px
}

.legend {
  left: 3%;
  bottom: 6%;
  display: flex;
  position: fixed;
  z-index: 5;
  width: 300px;
}

.legendItem {
  color: white;
}
.legendButton {
  left: 10%;
  bottom: 5%;
}
.legendHeader {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-style: italic;

}

